html{
    background-image: linear-gradient(to right top, #3d6870, #3a626c, #375c68, #345664, #32505f, #365b67, #3c656f, #437075, #608e84, #8aab8f, #bdc59c, #f5deb3);    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}  
